h1::before {
  content: "What's your favorite Spider?";
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;

  border-right: 1px solid black;
  animation: typing 5s steps(31) forwards, hideText 2s 4s forwards;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes hideText {
  0% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    display: none;
  }
}
